body{
    background-color: #F2F7A1;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #66BFBF;
    width: 5%;
}

h1{
    color: #453C67;
}

h2, h3, a{
    color: #6D67E4;
    text-decoration: none;
}

img{
    width: 150px;
}